.navbar{
    background-color: #004AAD;
    text-decoration: none;
    color: white;
}
.nav-dropdown{
    color: white;
}
.dropdown-toggle::after{
    color: white;
}
.navbar-expand .navbar-nav .nav-link {
    color: white;
}